<mat-card>
  <mat-card-title>
    Personensuche
  </mat-card-title>
  <mat-card-subtitle>
    Suchen Sie nach LVs von anderen Personen.
  </mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>


    <table cellspacing="10">
      <tr>
        <td>
          <mat-form-field class="Name_Input">
            <input #namesearch type="text" matInput placeholder="Name suchen ..." (keyup)="suggest(namesearch.value)" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)='Set_Pers_Filter($event.option.value)' [displayWith]="displayFilter">
              <mat-option *ngFor="let suggestion of suggestionobs$ | async" [value]="suggestion">
                {{suggestion.presentation}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput [matDatepicker]="Beginndatum" placeholder="von" (dateChange)="setBeginDate($event)">
            <mat-datepicker-toggle matSuffix [for]="Beginndatum"></mat-datepicker-toggle>
            <mat-datepicker #Beginndatum></mat-datepicker>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput [matDatepicker]="Endedatum" placeholder="bis" (dateChange)="setEndDate($event)">
            <mat-datepicker-toggle matSuffix [for]="Endedatum"></mat-datepicker-toggle>
            <mat-datepicker #Endedatum></mat-datepicker>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
<ng-container *ngIf="(coursegroupterms$ | async) as coursegroupterms">
  <ng-container *ngIf="coursegroupterms.length; else noItems">
    <app-holding-detail [coursegroupterms]="coursegroupterms"></app-holding-detail>
  </ng-container>
  <ng-template #noItems>
    No Items!
  </ng-template>
</ng-container>
