<ng-container *ngIf="(coursegroupterms$ | async) as coursegroupterms">
  <ng-container *ngIf="coursegroupterms.length; else noItems">
    <mat-card *ngFor="let term of coursegroupterms">
      <mat-card-title>
        {{ term.coursegroup.course.name }}
        (
        {{ term.coursegroup.name }}
        )
      </mat-card-title>
      <mat-card-subtitle>
        {{ term.room.title }} {{ term.room.name_full }}, {{ term.room.floor.name }} ({{ term.room.category.name }})
      </mat-card-subtitle>
      <mat-divider></mat-divider>
      <mat-card-content>
        {{ term.coursegroup.course.category }}
        {{ term.coursegroup.course.semester }}
        {{ term.coursegroup.course.year }}<br/>
        Begin: {{ term.start }}<br/>
        Ende: {{ term.end }}<br/>
        Dauer: {{ term.start | timeDifference:term.end }}
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <a mat-button color="accent" class="text-upper" [routerLink]="['/holding']">
          <span>Starten</span>
        </a>
      </mat-card-actions>
    </mat-card>
  </ng-container>
  <ng-template #noItems>
    No Items!
  </ng-template>
</ng-container>
